In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('heart.csv')
data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [3]:
data.shape

(303, 14)

In [102]:
x = pd.DataFrame(data['age'])
x.head

<bound method NDFrame.head of      age
0     63
1     37
2     41
3     56
4     57
..   ...
298   57
299   45
300   68
301   57
302   57

[303 rows x 1 columns]>

In [103]:
y = data['target']
y.head

<bound method NDFrame.head of 0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64>

In [104]:
from sklearn.model_selection import train_test_split

In [105]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.70,random_state=0)

In [106]:
from sklearn.linear_model import LogisticRegression

In [107]:
model = LogisticRegression()

In [108]:
model.fit(x_train,y_train)

LogisticRegression()

In [109]:
a = model.predict(x_test)

In [110]:
y_test_hm = y_test==0

In [111]:
y_test_hm.shape

(91,)

In [112]:
model.score(x_test,y_test)

0.6483516483516484

In [113]:
from sklearn.metrics import confusion_matrix

In [114]:
confusion_matrix = confusion_matrix(y_test,a)
print(confusion_matrix)

[[17 27]
 [ 5 42]]

In [115]:
from sklearn.metrics import accuracy_score

In [116]:
accuracy_score = accuracy_score(y_test,a)
print(accuracy_score)

0.6483516483516484